/*
    app.scss
*/
/* 
    base.scss 
*/
/*
    components.scss
*/
/*
    containers.scss
*/
.container {
  width: 40vw;
  margin-top: 20vh;
}

/*
    images.scss
*/
.image {
  width: 100%;
  height: auto;
}

.image-link {
  opacity: 60%;
  text-decoration: none;
  color: lightgray;
}

/*
    buttons.scss
*/
.button {
  background-color: #FEB43B;
  border: #FEB43B;
  font-weight: bold;
}

.button:hover {
  background-color: #FEB43B;
}
